/****** Begin Global Styles ******/
html, body {
    margin: 0;
    padding: 0;
}

footer {
/*    margin-top: 40px;
    Commented out by ML 9/22
*/    background-color: #0fc83c;
    height: 80px;
}

.navbar {
    margin-bottom: 0;
    background-color: #0fc83c;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    transition: 0.3s;
    background-color: #ffffff;
    color: #0fc83c;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    transition: 0.3s;
    background-color: #ffffff;
    color: #0fc83c;
}

.nav-ele {
    color: #ffffff;
}

.spacer {
    height: 100px;
}

/****** Begin Home Page Styles ********/
#home-banner {
    width: 100%;
}

#home-hero-image {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    position: absolute;
}

#home-hero-wrapper {
    position: relative;
    top: 25vh;
    text-align: center;
}

#home-hero-title {
    font-size: 7em;
    color: #ffffff;
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}

#home-hero-subtitle {
    font-size: 2.25em;
    color: #ffffff;
}

#home-hero-buttons {
    margin-top: 50px;
}

.cta-button {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    color: #ffffff;
    background-color: #0fc83c;
}

.cta-button:hover {
    transition: 0.3s;
    text-decoration: none;
    color: #0fc83c;
    background-color: #ffffff;
    cursor: pointer;
}

#home-container {
    margin-top: 58vh;
    margin-bottom: 27vh;    
}

.home-text-block {

}

.block-header {
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    color: #373780;
}


/****** Begin Login and Sign Up Page Styles ********/

#my-form {
    background: white;
    margin: auto;
    padding: 40px;
    width: 450px;
    min-width: 500px;
}

#page-header1{
  background-image: url('../resources/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
}

@media (min-width:1025px) {
    #page-header1 { 
        min-height: 900px;
    }
}
