/****** Begin Global Styles ******/
a {
    color: #0d579c;
}

button {
    color: #000;
    margin-bottom: 4px;
}

footer {
    background-color: #0d579c;
    height: 80px;
}

html, body {
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    margin-top: 0px;
    color: #0d5579;
}

label {
    color: #0d5579;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.2em;
    font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #0d579c;
}

.navbar-default .navbar-nav>li>a:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
    color: #0d579c;
}

.navbar-default .navbar-brand {
    color: #0d579c;
    font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}

.navbar-default .navbar-brand img {
    height: 1.5em;
    width: auto;
}
/*
.navbar-default .navbar-brand:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
    color: #0d579c;
}
*/

.nav-ele {
    color: #ffffff;
}

.spacer {
    height: 10vh;
}

p, label, a, legend {
    font-family: barlow, sans-serif;
    font-size: 1.1em;
}

/****** Begin Home Page Styles ********/
#home-banner {
    width: 100%;
}

/* #home-hero-image {
    width: 100vw;
    object-fit: cover;
    position: absolute;
} */

#home-hero-wrapper {
    position: relative;
    text-align: center;
}

#home-hero-title {
    font-size: 8vh;
    color: #fff;
    font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}

#home-hero-subtitle {
    font-size: 20px;
    color: #fff;
    font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}

#home-hero-buttons {
    margin-top: 2em;
}

.cta-button {
    font-size: 1.5em;
    padding: 20px;
    background-color: #fff;
}

.cta-button:hover {
    transition: 0.3s;
    text-decoration: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

#home-container {
    /* margin-top: 53vh; */
    padding-bottom: 5vh;
    padding-top: 5vh;
}

@media screen and (max-width: 600px) {
 #home-hero-title {
    font-size: 4em;
 }
 #home-hero-subtitle {
     font-size: 1.5em;
 }
}


/****** Begin Login and Sign Up Page Styles ********/

#my-form {
    /** #my-form is backwards-compatible, use #white-container-small
    going forward **/
    background: white;
    margin: auto;
    padding: 40px;
    width: 450px;
    min-width: 500px;
}

#page-header0, #page-header1{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 60vh;
}

/* @media (max-height:600px) {
    #page-header0, #page-header1 #make-list-body {
        min-height: 550px;
    }
}
*/

#page-header0{
    background-image: url('../resources/background.png');
}

#page-header1{
    background-image: url('../resources/background_white.png');
}


/** Landing **/
#landing-container {
    background: white;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 30px 0;
}

#landing-container ul {
    columnsL 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#landing-container li {
    font-size: 1.5em;
    font-weight: 500;
}

#landing-container a, u {
    text-decoration: none !important;
}

#white-container-small {
    background: white;
    margin: auto;
    padding: 40px;
    width: 40vw;
    min-width: 500px;
}

@media screen and (max-width: 500px) {
    #white-container-small {
        width: 100vw;
    }
}

#white-container-medium {
    background: white;
    margin: auto;
    padding: 40px;
    width: 700px;
    min-width: 500px;
}

#white-container-large {
    background: white;
    width: 80%;
    margin: auto;
/*    min-height: 600px;*/
    padding: 40px;
}

/** Make a list **/


.entry(:first-of-type)
{
    margin-top: 10px !important;
}

.glyphicon
{
    font-size: 12px;
}

#white-container-large fieldset {
    margin-bottom: 15px;
}

#white-container-large legend {
    font-size: 1.3em;
    font-weight: bold;
}

#white-container-large label {
    color: black;
    font-weight: normal !important;
}

/** List Results **/

#white-container-large button {
    margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  font-size: 14px;
/*  font-family: "Source Sans Pro", sans-serif;*/
}

td {
  padding: 2px 40px 2px 0px;
}

tr {
  border-bottom: 1px solid #ddd;
}

#QLbody {
  display: table-row-group;
}

#QLbody tr:hover{
  background-color: #d0e6fb;
;}

#QLbody a{
  color: #0d579c;
}

#QLhead {
    display: table-header-group;
    background-color: #0d579c;
    color: white;
    font-weight: normal;
    margin: 2px;
}

/*** Join team styles **/
.join-team label {
    color: black;
    font-weight: normal !important;
}

/*** Help page styles **/

#toc a:hover{
    background-color: #d0e6fb;
}
