/****** Begin Global Styles ******/
@font-face {
    /* For titles */
    font-family: Rubik, sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Rubik");
}

@font-face {
    /* For text */
    font-family: barlow; 
    src: url("https://fonts.googleapis.com/css?family=Barlow");
}

a {
    color: #0d579c;
}

button {
    color: #000;
    margin-bottom: 4px;
}

footer {
/*    margin-top: 40px;
    Commented out by ML 9/22
*/    background-color: #0d579c;
    height: 80px;
}

html, body {
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    margin-top: 0px;
    color: #0d5579;
}

label {
    color: #0d5579;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.2em;
    font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #0d579c;
}

.navbar-default .navbar-nav>li>a:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
    color: #0d579c;
}

.navbar-default .navbar-brand {
    color: #0d579c;
    font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}

.navbar-default .navbar-brand img {
    height: 1.5em;
    width: auto;
}
/*
.navbar-default .navbar-brand:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
    color: #0d579c;
}
*/

.nav-ele {
    color: #ffffff;
}

.spacer {
    height: 100px;
}

p, label, a {
    font-family: barlow, sans-serif;
    font-size: 1.1em;
}

/****** Begin Home Page Styles ********/
#home-banner {
    width: 100%;
}

#home-hero-image {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    position: absolute;
}

#home-hero-wrapper {
    position: relative;
    top: 25vh;
    text-align: center;
}

#home-hero-title {
    font-size: 7em;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Rubik', sans-serif, 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}

#home-hero-subtitle {
    font-size: 2.25em;
    color: #ffffff;
    font-family: 'Rubik', 'Helvetica Neue', sans-serif;
}

#home-hero-buttons {
    margin-top: 50px;
}

.cta-button {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: #fff;
}

.cta-button:hover {
    transition: 0.3s;
    text-decoration: none;
/*    color: #0d579c;*/
    background-color: #f2f2f2;
    cursor: pointer;
}

#home-container {
    margin-top: 58vh;
    margin-bottom: 27vh;    
}

.home-text-block {
    /*** What happended here? There's no styling **/
}
/****** Begin Login and Sign Up Page Styles ********/

#my-form {
    /** #my-form is backwards-compatible, use #white-container-small 
    going forward **/
    background: white;
    margin: auto;
    padding: 40px;
    width: 450px;
    min-width: 500px;
}

#page-header1{
    background-image: url('../resources/background_white.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 650px;
}

@media (max-height:600px) {
    /* Adjust for mobile devices */
    #page-header1, #make-list-body { 
        min-height: 550px;
    }
}

/** Landing **/
#landing-container {
    background: white;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 30px 0;
}

#landing-container ul {
    columnsL 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#landing-container li {
    font-size: 1.5em;
    font-weight: 500;
}

#white-container-small {
    background: white;
    margin: auto;
    padding: 40px;
    width: 450px;
    min-width: 500px;
}

#white-container-medium {
    background: white;
    margin: auto;
    padding: 40px;
    width: 600px;
    min-width: 500px;
}

/** Make a list **/
#make-list-body {
/*    background-color: #0d579c;*/
    background-image: url("../resources/background_white.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#make-list-container {
    background: white;
    width: 80%;
    margin: auto;
/*    min-height: 600px;*/
    padding: 30px 20px;
}

#make-list-container fieldset {
    margin-bottom: 15px;
}

/** List Results **/

#make-list-container button {
    margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  font-size: 14px;
/*  font-family: "Source Sans Pro", sans-serif;*/
}

td {
  padding: 2px 40px 2px 0px;
}

tr {
  border-bottom: 1px solid #ddd;
}

#QLbody {
  display: table-row-group;
}

#QLbody tr:hover{
  background-color: #d0e6fb;
;}

#QLbody a{
  color: #0d579c;
} 

#QLhead {
    display: table-header-group;
    background-color: #0d579c;
    color: white;
    font-weight: normal;
    margin: 2px;
}
